.about-section {
  text-align: center;
  
}



.about-text {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  color: #333;
}

.about-text h2 {
  margin-bottom: 1rem;
  color: #274916;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.about-section {
  height: 100vh;
  
}


